<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        var ID = function () {
            // Math.random should be unique because of its seeding algorithm.
            // Convert it to base 36 (numbers + letters), and grab the first 9 characters
            // after the decimal.
            return '_' + Math.random().toString(36).substr(2, 9);
        };
        var privateName = ID();
        alert(privateName);
        Smooch.init({
            appToken: '{{appToken}}',
            userID: '2230317'
        });
    </script>
</head>
<body>
    <h2>Charisma</h2>
</body>
</html>